<main class="show_page">

  <div class="header_main">
    <img src="assets/img/playthislogo.png" id="logo"/>
  </div>
  <div class="venue_name">
    <h1>{{VenueShowViewModel.venue.name.toUpperCase()}}</h1>
    <p>
      {{VenueShowViewModel.venue.street.toUpperCase()}}
    </p>
  </div>

  <form>
    <label></label>
    <input placeholder="SONG REQUEST..." data-ng-model="VenueShowViewModel.newComment.content" />
    <button data-ng-click="VenueShowViewModel.create()">PLAY THIS</button>
  </form>

  <section data-ng-repeat="comment in VenueShowViewModel.venue.requests" id="comment_section">
  <p>{{comment.content}}</p>
  </section>

</main>
