html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map, div.ng-scope {
  height: 100%;
  z-index: 0;
}

#searchBoxParent {
  width: 900px;
  z-index: 4;
  position: absolute;
  top: 7%;
  height: 100px;
  display: block;
  left:4%;
}

.searchBoxParent {
  color: white;
  background-color: rgb(176, 36, 226);
  border-radius: 7px;
  border: 3px rgb(246, 7, 17);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 200;
  height: 60px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 45%;
  z-index: 3;
  position: absolute;
  top: 7%;
}

.searchBoxParent:hover {
  transform: scale(1.5);
  left: 10%;
}


/*******************
VENUE SHOW PAGE
*******************/
body {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top, #36213e, #20dfd9 175%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, #36213e, #20dfd9 175%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, #36213e, #20dfd9 175%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #36213e, #20dfd9 175%); /* Standard syntax */
}

.header_main {
  text-align: center;
  max-height: 5em;
  background-color: #4d4d4d;
  /*padding-bottom: 1em;*/
}

#logo {
  width: 5em;
  padding-left: 0.5em;
}

.show_page {
  text-align: center;
}

.show_page form {
  margin-bottom: 1em;
}

.show_page form input {
  width: 60%;
  font-size: 1em;
  font-weight: 300;
  padding: 0.5em 0.5em;
}

.show_page form button {
  background-color: rgb(230, 79, 188);
  font-family: sans-serif;
  padding: 1em;
  border-style: none;
  color: white;
}

.show_page form button:hover {
  cursor: pointer;
  background-color: rgb(105, 51, 154);
  transition: 1s;
}

.venue_name h1 {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0;
}

.venue_name p {
  color: white;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.7em;
}

#comment_section {
  background-color: rgba(204, 204, 204, 0.3);
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 1px solid rgba(217, 217, 217, 0.38);

}

#comment_section p {
  padding: 1em 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: 300;
}
