html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map, div.ng-scope {
  height: 100%;
  z-index: 0;
}

#searchBoxParent {
  width: 900px;
  z-index: 4;
  position: absolute;
  top: 7%;
  height: 100px;
  display: block;
  left:4%;
}


.playMarker {
  display: block;
  height: 100px;
  width: 100px;
  background: blue;
  z-index: 7;
}


.searchBoxParent {
  color: white;
  background-color: rgb(176, 36, 226);
  border-radius: 7px;
  border: 3px rgb(246, 7, 17);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 200;
  height: 60px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 45%;
  z-index: 3;
  position: absolute;
  top: 7%;
}

.searchBoxParent:hover {
  transform: scale(1.5);
  left: 10%;
}
